@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Heebo', sans-serif;
  margin:0;
  padding:0;
  text-align: center;
  direction: rtl;

  overflow-x: hidden;
}

body {
  margin:0;
  font-family: 'Heebo', sans-serif;
  font-size:17px;
  color:#fff;
  line-height:1.6;
}

main {
  background-image: url(pics/Hongkong.jpg);

  background-size:cover;
  background-position:center;
  height:775px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  padding:15px;
}

h1 {
  overflow: hidden !important;;
}

main h1 {
  font-size:4em;
  line-height:1.2;
}

main p {
  font-size:20px;
}

.questionnaire {
  margin-top: 40px;
}

.draw-background {
  padding: 10px;
  border-radius: 10px;

  background-color: rgba(50, 53, 53, 0.9);
}

.draw-light-background {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(50, 53, 53, .045);
}

.draw-meduim-background {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(50, 53, 53, .4);
}


footer {
  width: 100%;
  background-color: #dcf5f9;
}

footer .project-details-heading {
  grid-row-start: 1;
  grid-row-end: 1;
}

footer .project-details-heading h1 {
  color: #f15a2d;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 15px;

  transition-duration: 0.5s;

  max-width: 50%;
  margin-right: 25%;
  border-radius: 10px;
}

.see-through-heading {
  color: rgba(255, 255, 255, 0.07);
  overflow: hidden;
}

.logo h1.see-through-heading{
  margin-top: -135px;
  font-size: 7em;
  transform: rotate(-7deg);  
}

#details-container {
  width: 50%;
  margin-right: 25%;
}

.project-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

footer .details-card {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px;
  width: 185px;
  height: 210px;

  transition-duration: 0.5s;
}

footer .details-card:hover,
footer .project-details-heading h1:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.1);
}

footer .details-card:hover {
  cursor: pointer;
}

footer .details-card * {
  color: black;
}

footer .details-card h3 {
  font-weight: 400;
  text-decoration: underline;
}

footer .details-card ul {
  list-style-type: none;
}

a {
  color: #1a96f2 !important;
}

a:hover{
  color: #115181 !important;
  text-decoration: none;
}


/* Button*/

.draw-border {
  box-shadow: inset 0 0 0 4px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size:1.5em;
  padding: 1em 2em;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

/* End button */




/* Colors */

.dark-green {
  /* color: #83b541; */
  color: #abeb58;
}

.medium-green {
  /* color: #8dc641; */
  color: #99ec2c;
}

.green {
  /* color: #85c444; */
  color: #b5f30a;
}

.dark-red {
  color: #db0f27;
}

.meduim-red {
  color: #ea272a;
}

.dark-orange {
  color: #ef4338;
}

.meduim-orange {
  color: #f15b2c;
}

.light-orange {
  color: #f89522;
}

.dark-blue {
  color: #2175bb;
}

.meduim-blue {
  color: #288cdd;
}

/* End colors */